<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice  %>
      <p class="notice"><%= notice %></p>
    <% end %>
    
    <% if alert  %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <nav>
      <li>
          <%= link_to 'Inicio', root_path  %>
      </li>
      
      <!-- Identificar si se ha iniciado sesion -->
      <% if user_signed_in? %>
          <li>
              <%= link_to 'Design system', design_systems_path %>
          </li>
          <li>
              <%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %>
          </li>
      <% else %>
          <li>
              <%= link_to 'Iniciar sesion', new_user_session_path  %>
          </li>
          <li>
              <%= link_to 'Registrarse', new_user_registration_path  %>
          </li>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
